*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_container{
    width: 100%;
    min-height: 100vh;
    padding-inline: 8%;
}

#nav_bar{
    display: flex;
    margin-top: 3%;
    align-items: center;
}

.logo{
    height: 50px;
}

ul{
    text-align: right;
    flex: 1;
}

ul li{
    list-style-type: none;
    text-align: right;
    display: inline-block;
    margin-right: 2em;
    font-size: 1.1em;
    color: black;
}

ul li a{
    text-decoration: none;
    padding: 0;
    font-size: 1.1em;
    color: black;
}

ul li a:hover{
    color: red;
}

.nav_bar_img{
    width: 30px;
}

.main_section{
    margin-top: 10em;
    display: flex;
}

.first_container{
    padding-left: 60px;
    width: 40%;
    align-items: center;
    margin: 20px 0 10px;
}

.first_container h2{
    font-size: 3.5em;
    margin-bottom: .3em;
}

.first_paragraph{
    font-size: 2em;
}

.sub{
    font-size: 1.5em;
}

.color{
    color: rgb(161, 157, 157);
}

.first_container h3{
    font-size: 2em;
    margin-top: .6em;
}

button{
    margin-top: 1.6em;
    border: none;
    outline: 0;
    width: 140px;
    background-image: linear-gradient(to right, red, darkred);
    color: wheat;
    height: 40px;
    border-radius: 8px;
    font-size: 1em;
    transition: width 0.5s;
    cursor: pointer;
}

button img{
    display: none;
}

button:hover img{
    display: inline;
    width: 40px;
}

button:hover{
    width: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first_container::after{
    content: "";
    width: 14px;
    height: 180px;
    background-image: linear-gradient(to bottom, red, darkred);
    position: absolute;
    margin-left: -60px;
    margin-top: -310px;
}

.second_container{
    flex-basis: 60%;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.controller{
    width: 90%;
    /* margin-left: -20px; */
}

.controller_background{
    position: absolute;
    width: 80%;
    background-image: linear-gradient(to right, red, darkred);
    height: 100%;
    z-index: -1;
    top: 0;
    right: 0;
    transform: translateX(7.9vw);
    border-radius: 30px 0 0 30px;
}

.add_to_cart_btn{
    text-align: center;
    color: white;
    cursor: pointer;
}

.add_to_cart_btn img{
    width: 40px;
}

footer{
    text-align: center;
    margin-bottom: -90px;
    margin-top: 160px;
}

footer img{
    /* width: 20px; */
    height: 20px;
    margin-left: 50px;
    cursor: pointer;
}

.nav_bar_img{
    display: none;
}

@media all and (max-width: 850px){
    ul{
        width: 100%;
        position: absolute;
        background-image: linear-gradient(to right, red, darkred);
        top: 70px;
        z-index: 2;
        right: 0;
    }

    #nav_bar{
        justify-content: space-between;
    }

    .nav_bar_img{
        display: block;
    }

    ul li{
        display: block;
        margin-block: 'px';
        right: 0;
        padding-block: 6px;
    }

    ul li a{
        color: white;
        font-size: 15px;
    }

    .main_section{
        flex-direction: column-reverse;
        gap: 30px;
    }

    .first_container{
        width: 100%;
    }

    .second_container{
        width: 100%;
    }

    footer{
        text-align: center;
        margin-bottom: -90px;
        margin-top: 80px;
    }

    .first_container h2{
        font-size: 40px;
    }

    .first_paragraph{
        font-size: 20px;
    }
}
